.Rectangle-7 {
  width: 90%;
  height: 603px;
  opacity: 0.9;
  float: left;
}

.Rectangle-7 img {
  width: 100%;
  height: 603px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 55% 65%;
     object-position: 55% 65%;
}

.Blok {
  background-color: #fdf6f3;
  float: left;
  width: 100%;
  margin-top: 5%;
  margin-left: -14%;
  margin-right: -22%;
  padding-left: 14%;
  padding-top: 3%;
}

.BlokText {
  width: 55%;
  float: left;
  margin-right: 60px;
}

.BlokText__glownyNapis {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #0f65b1;
}

.BlokText__pobocznyNapis {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #596060;
}

.BlokText__pobocznyNapis--czarny {
  font-size: 20px;
  font-weight: 500;
}

.BlokText__pobocznyNapis--fioletowy {
  font-size: 20px;
  color: #897ac8;
}

.BlokText__pobocznyNapis ul {
  list-style-position: outside;
}

.BlokImg {
  float: left;
  width: 499.8px;
  height: 856.8px;
  margin-bottom: 50px;
}

.BlokImg img {
  width: 100%;
  height: 100%;
}

.ImgBox1 {
  width: 378.6px;
  height: 450px;
  float: left;
  background-image: url("../img/shutterstock_1256n.png");
  -o-object-fit: none;
     object-fit: none;
  margin: 10px;
  margin-top: 50px;
  margin-right: 160px;
}

.ImgBox1__path {
  width: 100%;
  height: 20%;
  opacity: 0.8;
  background-color: #897ac8;
  margin-top: 90%;
  padding-top: 20px;
}

.ImgBox1__path--napis {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.ImgBox2 {
  width: 378.6px;
  height: 450px;
  float: left;
  background-image: url("../img/shutterstock_6916n.png");
  -o-object-fit: none;
     object-fit: none;
  margin: 10px;
  margin-top: 50px;
  margin-right: 160px;
}

.ImgBox2__path {
  width: 100%;
  height: 20%;
  opacity: 0.8;
  background-color: #897ac8;
  margin-top: 90%;
  padding-top: 20px;
}

.ImgBox2__path--napis {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.ImgBox3 {
  width: 378.6px;
  height: 450px;
  float: left;
  background-image: url("../img/shutterstock_4089n.png");
  -o-object-fit: none;
     object-fit: none;
  margin: 10px;
  margin-top: 50px;
}

.ImgBox3__path {
  width: 100%;
  height: 20%;
  opacity: 0.8;
  background-color: #897ac8;
  margin-top: 90%;
  padding-top: 20px;
}

.ImgBox3__path--napis {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1243px) and (min-width: 600px) {
  .BlokText {
    width: 90%;
  }
  .BlokImg {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .BlokText {
    width: 100%;
  }
  .BlokText__glownyNapis {
    text-align: center;
  }
  .BlokText__pobocznyNapis {
    text-align: center;
  }
  .Rectangle-7 {
    width: 100%;
  }
}
/*# sourceMappingURL=ochorobieStyle.css.map */