.to_beowe {
    width: 1920px;
    height: 5253px;
    background-color: #eee8e6;
  }

.Rectangle-7 {
    width: 1462px;
    height: 603px;
    object-fit: none;
    object-position: 55% 65%;
    opacity: 0.9;
    position: absolute; left: 229px; top: 197px;
}

.container-1 {
    width: 1920px;
    height: 961px;
    background-color: #f8f2f0;
    position: absolute; top: 846px;
  }

  .O-CHOROBIEnapis {
    width: 400px;
    height: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #0f65b1;
    position: absolute; left: 228px; top: 38px;
  }

.Rectangle-9 {
    width: 499.8px;
    height: 856.8px;
    position: absolute; left: 1190px; top: 56px;
}

.pod-O-CHOROBIEnapis{
    width: 943px;
    height: 813px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #757c7c;
    position: absolute; left: 228px; top: 117px;
  }

  .pod-O-CHOROBIEnapis-2{
    font-size: 20px;
    font-weight: 500;
    color: #897ac8;

  }

  .pod-O-CHOROBIEnapis-3{
    font-size: 20px;
    font-weight: 500;
    color: #596060;
  }

  .shutterstock_1256 {
    width: 378.6px;
    height: 450px;
    object-fit: contain;
    position: absolute; left: 229px; top: 1853px;
  }

  .shutterstock_6916 {
    width: 378.6px;
    height: 450px;
    object-fit: contain;
    position: absolute; left: 756px; top: 1853px;
  }

  .shutterstock_4089 {
    width: 378.5px;
    height: 450px;
    object-fit: contain;
    position: absolute; left: 1310px; top: 1853px;
  }

  .Rectangle-29-1 {
    width: 380px;
    height: 101px;
    opacity: 0.85;
    background-color: #897ac8;
    position: absolute; left: 228px; top: 2202px;
  }

  .Rectangle-29-2 {
    width: 380px;
    height: 101px;
    opacity: 0.85;
    background-color: #897ac8;
    position: absolute; left: 755px; top: 2202px;
  }

  .Rectangle-29-3 {
    width: 380px;
    height: 101px;
    opacity: 0.85;
    background-color: #897ac8;
    position: absolute; left: 1310px; top: 2202px;
  }

  .WSKAZWKI-DOTYCZCE-WIADOMEGO-JEDZENIA {
    width: 380px;
    height: 66px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute; left: 228px; top: 2220px;
  }

  .CZYNNIKI-POWODUJACE-OBJADANIE-SI {
    width: 379px;
    height: 79px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute; left: 756px; top: 2220px;
  }

  .LISTA-ZAMIENNIKW-YWIENIOWYCH {
    width: 435px;
    height: 79px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute; left: 1282px; top: 2220px;
  }

  .napisOtyo-do-czego-prowadzi {
    width: 1920px;
    height: 39px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: auto; top: 2394px;
  }

  .Ellipse-1 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 382px; top: 2473px;
  }

  .Ellipse-2 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 900px; top: 2473px;
  }

  .Ellipse-3 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 1418px; top: 2473px;
  }

  .Ellipse-4 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 382px; top: 3097px;
  }

  .Ellipse-5 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 900px; top: 3097px;
  }

  .Ellipse-6 {
    width: 120px;
    height: 120px;
    background-color: #897ac8;
    border-radius: 50%;
    position: absolute; left: 1418px; top: 3097px;
  }

  .Choroby-ukadu-krenia {
    width: 400px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 242px; top: 2620px;
  }

  .Choroby-nowotworowe {
    width: 400px;
    height: 40px;
    object-fit: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 760px; top: 2620px;
  }

  .Cukrzyca-typu-2 {
    width: 400px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 1278px; top: 2620px;
  }

  .Schorzenia-pcherzyka-ciowego {
    width: 400px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 242px; top: 3254px;
  }

  .Zaburzenia-miesiczkowania {
    width: 400px;
    height: 40px;
    object-fit: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 760px; top: 3254px;
  }

  .Choroby-zwyrodnieniowe-staww {
    width: 400px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f65b1;
    position: absolute; left: 1278px; top: 3254px;
  }

  .podChoroby-ukadu-krenia {
    width: 400px;
    height: 322px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060;
    position: absolute; left: 242px; top: 2698px;
  }

  .podChoroby-nowotworowe {
    width: 400px;
    height: 162px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060;
    position: absolute; left: 760px; top: 2698px;
  }

  .podCukrzyca-typu-2 {
    width: 400px;
    height: 176px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060;
    position: absolute; left: 1278px; top: 2698px;
  }

  .podSchorzenia-pcherzyka-ciowego {
    width: 400px;
    height: 168px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060;
    position: absolute; left: 242px; top: 3332px;
  }

  .podZaburzenia-miesiczkowania {
    width: 400px;
    height: 162px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060;
    position: absolute; left: 760px; top: 3332px;
  }

  .podChoroby-zwyrodnieniowe-staww {
    width: 400px;
    height: 176px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #596060; 
    position: absolute; left: 1278px; top: 3332px;
  }

  .Rectangle-15 {
    width: 492px;
    height: 564px;
    object-fit: none;
    object-position: 70% 70%;
    position: absolute; left: 228px; top: 3586px;
  }

  .Rectangle-17 {
    width: 956px;
    height: 564px;
    object-fit: none;
    object-position: 70% 70%;
    position: absolute; left: 734px; top: 3586px;
  }

  .napisEpidemiologia-otyo-w-liczbach {
    width: 714px;
    height: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #0f65b1;
    position: absolute; left: 660px; top: 4241px;
  }

  .Sax_Hero_Setting_Office_Global_Female_1 {
    width: 652.2px;
    height: 699.1px;
    object-fit: none;
    object-position: 42% 58%;
    position: absolute; left: 1028px; top: 4324px;
  }

  .podEpidemiologia-otyo-w-liczbach-1 {
    width: 709px;
    height: 748px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #757c7c;
    position: absolute; left: 240px; top: 4320px;

  }

  .podEpidemiologia-otyo-w-liczbach-2 {
    font-size: 20px;
    font-weight: 500;
    color: #897ac8;
}

.play {
    width: 103.7px;
    height: 103.7px;
    opacity: 0.85;
    border: solid 4px #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute; left: 908.5px; top: 446.5px;
}

.trojkatPlay {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 35px solid black;
    opacity: 0.09;
    position: absolute; left: 40%; top: 30%;
    
  }
