.trojkatDoRozwijania {

  width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 16px solid #897ac8;
  display: inline-block;
}

body{
  background-color: #eee8e6;
  padding: 0 !important;
  margin: 0 !important;
  
}

.to_beowe {
  margin: 0;
  background-color: #eee8e6;
  padding-left: 10%;
}

.NavBox {
  width: 77%;
  color: #4d4d4d;
  padding-top: 2%;
  padding-left: 23%;
  height: 150px;
}

.NavBox ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
    
}

.NavBox ul > li {
  padding: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.4px;
  float: left;
  
}

.NavBox ul > li > ol {
  width: 140px;
  height: 107px;
  opacity: 0.7;
  background-color: #ffffff;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  padding-top: 7px;
  margin: 0;
  display: none;
}

.NavBox ul > li > ol > li {
  margin: 10px;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #897ac8;
}


ul > li:hover > ol {
  display: block;
}

.Zaznaczenie{
  border-bottom: 3px solid #897ac8;
  width: 100%;
} 

.STRONA-GWNA {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.4px;
    text-align: left;
    color: #4d4d4d;
    margin: 5%;
    
  }


  .list {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.4px;
    text-align: left;
    color: #4d4d4d;
    position: absolute;
    margin-right: 5%;
    cursor: pointer;
  }

  .list:hover .hover-list {
    max-height: 400px;
  }
  .hover-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 0;
    top: 120%;
    max-height: 0;
    overflow: hidden;
    transition: all .25s ease-in;
    width: 152px;
    height: 115px;
    opacity: 0.7;
    background-color: #ffffff;
    z-index: 2;
    
  }
  .hover-list div {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    
  }

  .kreskaList{

    border-bottom: 1px solid #897ac8;
    position: absolute; left: 1px;

  }

  a {    
    text-decoration: none;
    }

  a:link{

    color: #4d4d4d;

  }

  a:visited{
    color: #4d4d4d;
  }

  a:hover{

    color: #897ac8;

  }


  @media (max-width: 1800px) and (min-width: 1500px){
    .to_beowe{
      width: 100%;
      padding-left: 8%;
    }
    .NavBox{
      width: 90%;
      padding-left: 7%;
    }
  }
  @media (max-width: 1500px) and (min-width: 1200px) {
    .to_beowe{
      width: 100%;
      padding-left: 7%;
    }
    .NavBox{
      width: 80%;
      padding-left: 7%;
    }
}
  @media (max-width: 1200px) and (min-width: 600px) {
      .to_beowe{
        width: 95%;
        padding: 3%;
      }
      .NavBox{
        margin: 0px;
        margin-bottom: 250px;
        width: 100%;
        padding-left: 0;
      }
  
      .NavBox ul li {
        display: block;
        float: left;
      }
  }
  @media (max-width: 600px){
    .to_beowe {
      width: 100%;
      padding: 0%;
    }
    body {width: 100%;}

    .NavBox{
      margin: 0px;
      margin-bottom: 250px;
      width: 60%;
      padding-left: 0;
    }

    .NavBox ul li {
      display: block;
      float: left;
    }
    
  }



